.dataTable {
  height: 600px;
  padding: 20px;
  .dataTableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      background-color: transparent;
      color: #e85a4f;
      font-weight: 500;
      padding: 5px;
      border: 1px solid #e85a4f;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .cellWithImg {
    display: flex;
    align-items: center;
    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.397);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(218, 165, 32, 0.192);
    }
    &.passive {
      color: crimson;
      background-color: rgba(220, 20, 60, 0.363);
    }
  }
  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px solid rgba(0, 0, 139, 0.247);
      cursor: pointer;
    }
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px solid rgba(220, 20, 60, 0.226);
      cursor: pointer;
    }
  }
}
